
:root{
    --colorTextos: #49454567;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.numFactura{
	position:absolute;
	margin-top:-70px;
}

.numFactura b{
color:red;
	
}
.addCliente{
	position:absolute;
	margin:-36px 0 0 8%;
	width:21px;
	height:21px;
	z-index:1;
	cursor:pointer;
	background-color:transparent;
	border:1px solid #000;
	border-radius:3px;
	font-size:18px;
	transition:0.3s;
}
.addCliente:hover{
		background-color: #a8b8ab ;
}

.formCliente{
	display:flex;
	flex-direction:column;
	justify-content:center;
	
}
.formCliente span{
	display:flex;
	justify-content:space-between;
	margin:7px;
	
}

.formCliente .btnGuardarCliente{
	width:50%;
	height:40px;
	font-size:16px;
	margin:15px 0 0 25%;
	cursor:pointer;
	background-color: #0eb930 ;
	border:none;
	letter-spacing:3px;
	border-radius:3px;
	transition:0.3s;
}
.formCliente .btnGuardarCliente:hover{
	background-color:  #0ee138 ;	
}
.headerFactura{
	position:relative;
	width:100%;
	height:350px;
	margin-left:-14px;
	top:-35px;
	display:flex;
    flex-direction:column;
	justify-content:space-between;
  
	
}
.cliente{
	width:100%;
	height:90px;
	display:flex;
	background-color: #aaa8a7 ;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	
}
.buscarCliente{
	width:270px;
	margin-left:15px;
}

.informacionCliente{
	width:100%;
	display:flex;
	justify-content:space-around;
	font-size:15px;
}
.informacionCliente article{
	width:100%;
	padding-left:10px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.pagos{
	width:100%;
	height:180px;
	display:flex;
	justify-content:space-around;
		background-color: #aaa8a7 ;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.pagos article{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.pagos article:nth-child(3){
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	margin-bottom:10px;

}

.totales{
    display:flex;
    flex-direction:column;
	justify-content:space-around;
	width:200px;
	position:absolute;
	margin:120px 0 0 77%;
}


.grupo{
    position: relative;
    margin: 18px;
}
.grupo p{
	position:absolute;
	margin:-20px 0 0 90%
}
 .labelF1{
    position:relative;
    color:   #000;
    font-weight:600;
    font-size: 15px;
    top:0;
}

.select{
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    height:40px;
}
.input {
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 80%;
	border: none;
	border-bottom:1px solid gray;
	resize: none;
}

.input:focus {
	outline: none;
	color: rgb(94, 93, 93);
}

.input:focus ~label, .input:valid ~label {
	position: absolute;
	top: -14px;
	font-size: 14px;
	color: #2196F3;
}
.input:focus ~.barra::before {
	width: 80%;
}
.barra {
	position: relative;
	display: block;
	width: 100%;
}

.barra::before {
	content: '';
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: green;
	transition: 0.3s ease all;
	left: 0%;
}

.detalle{
	width:100%;
	height:600px;
	display:flex;
	justify-content:space-between;
	padding-top:30px;
}
.detalle p{
	position:absolute;
	font-size:14px;
	color:red;
	font-weight:bold;
	margin-left:30px;
}


.btnRegistrarFactura{
	width:180px;
	height:35px;
	border:none;
	font-size:15px;
	background-color: #108333 ;
	transition:0.5s;
	border-radius:6px;
	color: white;
	cursor:pointer;
	font-weight:600;
	
}
.btnRegistrarFactura:hover{
	background-color:  #15af43 ;
}

.ListaDetalles{
	width:75%;
	height:50vh;
	border-radius:5px;
	margin-right:30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ListaDetalles2{
	width:75%;
	height:10vh;
	border-radius:5px;
	margin-right:30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: fuchsia;
}

.cheap {
        background-color: aqua;
        background-image: none;
        color: black;
    }
    
.FormularioDetalle{
    width: 26%;
    height:290px;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:relative;
margin-left:15px;
    margin-top:28px;
}

.btnAdicionarProducto{
	display:flex;
	justify-content:center;
}
         

 /*Seccion para realizar el registro de ventas de producto*/































/*============MOSTRAR FACTURA===========*/
.btnVerFactura{
    padding:10px;
    width:65px;
	background-color: #1ba078 ;
	border:none;
	cursor:pointer;
	transition:0.3s;
	text-align:center;
	border-radius:6px;
	color:white;
	font-size:14px;
}
.btnVerFactura:hover{
	background-color:  #2ac092 ;

}
.menuListaFacturas{
	width:82%;
	margin:-30px 0 0px -15px;
	height:50px;
	background-color: #246218 ;
	position :fixed;
	z-index:999;
}

.tablaListar{
	margin-top:40px;
	width:95%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menuListaFacturas ul{
	width:100%;
	list-style:none;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.menuListaFacturas ul li{
	 position: relative;
	 font-size: 15px;
	 cursor: pointer;
	 width: 250px;
	 padding: 14px 0;
	 text-align: center;
	 letter-spacing: 0.5px;
	 color:white

}
.menuListaFacturas ul li:hover{
	background-color:rgba(0,0,0,0.5);
	font-weight:bold;
}
.menuListaFacturas ul li:after{
  content: "";
  position: absolute;
  background-color: aqua;
  height: 3px;
  width: 0;
  left:0;
  bottom: 0px;
  transition: 0.3s;
	
}
.menuListaFacturas ul li:hover::after{
    width: 250px;
	
}
.tablaListar .modalPagarFactura{
	margin-left:-200px;
	margin-right:120px;
}
.tablaListar .modalPagarFactura .pagarFactura{
	margin-top:10px;
}

.tablaListar .selectFacturaCliente{
	width:250px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom:15px;
}

/*Dise�o de factura a mostrar*/
.modeloFactura{
	width:600px;
	height:700px;
	margin:-50px 0 0 220px;
	border:1px solid black;
	display:flex;
	flex-direction:column;
}
.F1{
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex:0 0 60px;
}
.F1 div:nth-child(1){
	font-weight:900;
	color: #73635f ;	
}
.F1 div:nth-child(2){
	font-weight:900;
	color: #73635f ;	
	font-family: 'Lobster', cursive;
}
.F2{
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:90px;
	font-size:14px;
    flex:0 0 60px;
}
.F2 div:nth-child(1){
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.F2 div:nth-child(2){
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.F2 div:nth-child(2) section:nth-child(1){
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;

}
.F2 div:nth-child(2) section:nth-child(2){
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
}
.F2 div:nth-child(2) section:nth-child(1) span{
	border-bottom:1px solid gray;
	width:100%;
	text-align:center;
}
.F2 div:nth-child(2) section:nth-child(2) span{
border-bottom:1px solid gray;
}


.F3{
    flex:0 0 100px;
	font-size:14px;
	margin-top:20px;
}

.F3 >.clientes{
	width:400px;
	display:block;
	border-bottom:1px solid grey;
	margin-left:100px;
}
.F3 div{
	width:80%;
	display:flex;
	justify-content:space-around;
    margin-left:80px;
}
.F3 div section:nth-child(1){
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.F3 div section:nth-child(2){
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.F4 .container-table{
width:90%;
display:block;
margin:auto;
}
.F4 table{
width:100%;
background-color:#fff;
border:1px solid black;
text-align:center;
border-collapse:collapse;
}
.F4 table thead{
	width:100%;
	background-color:#246355;
	border-bottom: 3px solid #0F362D;
	color:white;
}
.F4 table th,td{
	border:1px solid black;
	padding:3px;
	font-size:14px;
}
.F5{
    flex:0 0 100px;
	display:flex;
	justify-content:flex-end;
	margin-top:30px;
}
.F5 div{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	margin-right:40px;
	margin-bottom:40px;
}
.F5 div span:nth-child(4){
	border-top:1px solid gray;
}
.modeloFactura p{
	position:absolute;
	font-size:10px;
	margin:630px 0 0 30px;
	}
	
.tableDevolucion{
	width:92%;
	margin-left:20px;
	height:90vh;
	overflow-y:scroll;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
	
	
	/*==============================modelo de devolucion====================*/
.headerDevolucionContent{
	width:85%;
	height:210px;
	display:flex;
	justify-content:space-around;
	margin:-40px 0 0 90px;
	padding:5px 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	
}
.headerDevolucionContent article:nth-child(1) {
	width:60%;
	display:flex;
	justify-content:space-around;
	font-size:14px;
	
}
.headerDevolucionContent .item1{
	width:280px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.headerDevolucionContent .item2{
	width:230px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;	
}
.headerDevolucionContent .formRegistrarDevolucion{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;	
}
.headerDevolucionContent .formRegistrarDevolucion .btnGuardarDevolucion{
	width:60%;
	display:block;
	margin:auto;
}

.radioButtom{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width:200px;
	height:50px;
	position:absolute;
    margin:300px 0 0 -250px;
}

.contenedorDevoluciones{
	width:75%;
	height:100%;
	display:flex;
	justify-content:space-around;
	padding-top:8px;
	margin-left:20%;
	margin-top:80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
.modeloFacturaDevolucion{
	width:700px;
	height:600px;
}


.reskinned-datatable{
    background-image: url('try.png');
    color: blue;
    font-size: 500px; 
    
}
.reskinned-datatable2{
    background-image: url('try.png');
    align-items:center;
    
}

.my-panel .ui-panel-titlebar {
     background: blue
}



